<div class="row justify-content-sm-center pt-5">
  <div class="col-sm-6 shadow round pb-3">
<h3 class="text-center text-secondary"> View Employee Details</h3>
<div class="m-3">
  <div class="m-2">
    <label> <b> First Name: </b></label> {{employee.firstName}}
  </div>
  <div class="m-2">
    <label> <b> Last Name: </b></label> {{employee.lastName}}
  </div>
  <div class="m-2">
    <label> <b> Email : </b></label> {{employee.email}}
  </div>
  <div class="m-2">
    <label> <b> Address: </b></label> {{employee.address}}
  </div>
  <div class="m-2">
    <label> <b> Salaire: </b></label> {{employee.salaire}}
  </div>
  <div class="m-2 text-center">
    <button routerLink="/employees" class="btn btn-dark">Go To Employees List</button>
  </div>
</div>

  </div>
</div>
